@import "tailwindcss";

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.bg-gradient-to-br {
  background-image:linear-gradient(to bottom right, #eff6ff, #e0e7ff);
}