.table-container {
    height: 200px;
    padding: 16px;
  }
  
  .simple-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
  }
  .simple-table tbody tr {
  height: 20px; 
}
  .simple-table th,
  .simple-table td {
    border: 1px solid #e5e7eb;
  }
  
  .simple-table th {
    font-weight: bold;
  }